html,body{
    height: 100%;
    margin:0;
    padding:0;
    background: url("image/image.jpg");
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.main{
    width:300px;
    padding: 15px;
    background: rgba(0,0,0,.5);
    margin:0 auto;
    top:50%;
    position:relative;
    transform:translateY(-50%);
    border-radius:3px;
}
.logo{
    width:auto;
    background: orange;
    text-align: center;

}
.logo img{
    width:80%;
    /*height: 80px;*/
    padding:5px;

}

.for{
    text-align: center;
}
.box{
    width:100%;
    margin: 10px 0;
    font-size: 16pt;
    padding-top:5px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 2px solid orange;
    background: none;
    color: white;
}

.box:focus{
    outline: none;
    border-bottom:2px solid skyblue;
}
.btn{
    width:100%;
    background: orange;
    border:1px solid darkorange;
    font-size: 16pt;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn:hover{
    background: skyblue;
    border:1px solid darkblue;
    cursor: pointer;
}