body{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 900px;
    min-height:500px;
    background: red;
    margin: 0 auto;
}
.wrapper header{
    width: auto;
    min-height: 100px;
    background: green;
    position:relative;

}
.wrapper header .logo{
    width: 100px;
    height: 100px;
    background: yellow;
    float: left;
}
.wrapper header .sologan{
    width: 800px;
    height:100px;
    background: blue;
    float: left;
}
.wrapper header .menubar{
    width: auto;
   /* height: 50px;*/
    background: purple;
    clear: both;

}

.wrapper header .menubar ul{
    margin:0;
    padding: 0;
    list-style: none;

}
.wrapper header .menubar ul li{
    display: inline-block;
}

.wrapper header .menubar ul li a{
    display: block;
    padding: 7.5px 15px;
    text-decoration: none;
    color:#ffffff;
}
.wrapper header .menubar ul li a:hover{

    background: white;
    color: black;
    box-shadow:  0 0 15px #fff,inset 0 0 15px #000;
}

.wrapper header .topmenu{
    width: 400px;
    height:40px;
    background: yellow;
    position: absolute;
    top:0;
    right:0;
}


.wrapper .container{
    width: auto;
    min-height: 500px;
    background: cyan;
}
.wrapper .container .sidebar{

    width: 150px;
    height: 500px;
    background: violet;
    float: left;

}
.wrapper .container .content{
    width: 750px;
    height: 500px;
    background: gray;
    float: left;
}
.wrapper footer{
    width: auto;
    height: 50px;
    background: black;
}
